
*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
    background-image: url("imagenCuadros2");
    
    background-repeat: no-repeat;
    
    }
    
    
    
    .img{
    
    position: relative;
    
     
    
    width: 100%;
    
    height: 100%;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("s");
    
    }
    
    .contenedor{
    
     
    
    height: 2000px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: brown;
    
     
    
    }
    .contenidosociales{

        height: 2000px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
         
        
        .CondicionHumana{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 100%;
        
        width: 100%;
        
        margin-left: 1px;
        
        margin-right: 1px;
        
        background-image: url("CondicionHumana.jpeg");
       
        
        }
        
        
        
        .textoSociales{
        
        text-align: justify;
        
        color: azure;
        
        font-size: 20px;
        
        
        
        
        }
       